<div class="all-container">

    <div class="login-container">
        <!--<div class="opacityfade">-->

            <!--<img src="assets/img/clouds.png">-->
        <!--</div>-->

        <div class="initial-message">You can now tell me your <span style="color: #0190C8">commands...</span></div>

        <div class="logo-container">
            <h1 id="title-name">team<span class="two-letter-logo" >up</span></h1>
        </div>


        <h1 class="login-message1">"Alexa, tell Team-Up to log me in as <span style="color: #0190C8">your ID #</span> "</h1>




        <div class="opacityfade"><div class="clouds"></div></div>


        <div class="black-container">

        </div>

        <div class='robot-container'>
            <div class='robothead'>
                <div class='ears'></div>
                <div class='helmet'></div>
                <div class='visor'></div>
                <div class='face'></div>
            </div>
            <div class='robotbody'>
                <div class='leftarm'></div>
                <div class='rightarm'></div>
                <div class='leftleg'></div>
                <div class='rightleg'></div>
                <div class='torso'><div class="circlepart"></div></div>
            </div>
        </div>

        <div class="users-box" style="opacity: 0">
            <div class="row">
                <div class="col-md-2" *ngFor="let user1 of users1; let i = index">
                    <div class="ui card">
                        <div class="image">
                            <h2 class="numberProfile">{{i + 1}}</h2>
                            <img src="{{user1.picture}}">
                        </div>
                        <div class="content">
                            <a class="header">{{user1.first_name}} {{user1.last_name}}</a>
                            <div class="meta">
                                <span class="date">{{user1.gender}}</span>
                            </div>
                            <div class="description">
                                {{user1.email}}
                            </div>
                        </div>
                        <div class="extra content">
                            <a style="color: red;font-size: 20px;">
                                need team
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2" *ngFor="let user2 of users2; let d = index">
                    <div class="ui card">
                        <div class="image">
                            <h2 class="numberProfile">{{(d + 5) + 1}}</h2>
                            <img class="profile-img" src="{{user2.picture}}">
                        </div>
                        <div class="content">
                            <a class="header">{{user2.first_name}} {{user2.last_name}}</a>
                            <div class="meta">
                                <span class="date">{{user2.gender}}</span>
                            </div>
                            <div class="description">
                                {{user2.email}}
                            </div>
                        </div>
                        <div class="extra content">
                            <a style="color: red; font-size: 20px;">
                                need team
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="individual-user" class="ui blue segment">
            <img class="individual-img" src="{{individualUser.picture}}">
            <h2 class="individual-name">{{individualUser.first_name}} {{individualUser.last_name}}</h2>
            <h2 class="individual-email">{{individualUser.email}}</h2>
        </div>


    </div>

</div>
























