<div class="all-container">

    <div class="login-container">
        <!--<div class="opacityfade">-->

            <!--<img src="assets/img/clouds.png">-->
        <!--</div>-->

        <div class="logo-container">
            <h1 id="title-name">trad<span class="two-letter-logo">er</span></h1>
        </div>


        <h1 class="login-message1">"Alexa, tell trader to login me as <span style="color: #0190C8">657392</span> "</h1>

        <div class="opacityfade"><div class="clouds"></div></div>


        <div class="black-container">

        </div>

        <div class='robot-container'>
            <div class='robothead'>
                <div class='ears'></div>
                <div class='helmet'></div>
                <div class='visor'></div>
                <div class='face'></div>
            </div>
            <div class='robotbody'>
                <div class='leftarm'></div>
                <div class='rightarm'></div>
                <div class='leftleg'></div>
                <div class='rightleg'></div>
                <div class='torso'></div>
            </div>
        </div>

    </div>

</div>
